contexts:
  primary: "$.applicants[?(@.type == 'PRIMARY')][0]"
  primaryHome: "@primary.addresses[?(@.type == 'HOME')][0]"
  primaryMailing: "@primary.addresses[?(@.type == 'MAILING')][0]"
  dependents: "$.applicants[?(@.type == 'DEPENDENT')]"

mappings:
  - source: "@primary.demographics.firstName"
    target: "primary_firstName"

  - source: "@primaryHome.line1"
    target: "primary_home_line1"

  - source: "@primaryMailing.city"
    target: "primary_mail_city"

  - collection:
      source: "@dependents"
      maxItems: 5
      targetPrefix: "dependent_"
      itemMappings:
        - source: "demographics.firstName"
          targetSuffix: "_firstName"